<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>
</head>
<style>
table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
}
th, td {
   padding-top: 10px;
   padding-bottom: 20px;
   padding-left: 30px;
   padding-right: 40px;
</style>
<body>
<h1>Details of Patients</h1>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Bed Type</th>
        <th>Address</th>
        <th>State</th>
        <th>City</th>
        <th>Patient Status</th>
    </tr>
    <tr>
{% for name in data %}
<td>{{ name.name }}</td>
        <td>{{ name.phone_number }}</td>
         <td>{{ name.age }}</td>
         <td>{{ name.bed_type }}</td>
         <td>{{ name.address }}</td>
         <td>{{ name.state }}</td>
         <td>{{ name.city }}</td>
         <td>{{ name.patient_status }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>