<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Hospital and Medicine Management System</title>
</head>
<style>
table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
}
th, td {
   padding-top: 10px;
   padding-bottom: 20px;
   padding-left: 30px;
   padding-right: 40px;
</style>
<body>
<h1>Welcome to Hospital and Medicine Management System</h1>
<h3>Patient APIS</h3>
<table style="width:100%">
    <tr>
        <th>API name</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>Register Patient</td>
        <td>/registerpatient</td>
    </tr>
    <tr>
        <td>Get All Patient</td>
        <td>/getpatient</td>
    </tr>
    <tr>
        <td>Get Patient By id</td>
        <td>/getpatient/id</td>
    </tr>
    <tr>
        <td>Delete Patient</td>
        <td>/delpatient/id</td>
    </tr>
    <tr>
        <td>Update Patient</td>
        <td>/updatepatient/id</td>
    </tr>
</table>
<h3>Medicine APIS</h3>
<table style="width:100%">
    <tr>
        <th>API name</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>Register Medicine</td>
        <td>/registermed</td>
    </tr>
    <tr>
        <td>Get All Medicine</td>
        <td>/getmed</td>
    </tr>
    <tr>
        <td>Get Medicine By id</td>
        <td>/getmed/id</td>
    </tr>
    <tr>
        <td>Delete Medicine</td>
        <td>/delmed/id</td>
    </tr>
    <tr>
        <td>Update Medicine</td>
        <td>/updatemed/id</td>
    </tr>
</table>
</body>
</html>




